**/node_modules
**/vendor
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
**/bootstrap/cache/*
**/.phpunit.result.cache
**/phpunit.xml
**/tests
**/.editorconfig
**/.styleci.yml
**/.github
**/README.md
**/CLAUDE.md
**/package-lock.json
